section#popup.popup
    .popup__content
        .popup__end: a(href="#tours" class="popup__end--link") &times;
        figure.popup__content--left
            img(src="../../img/nat-8.jpg", alt="popup picture", class="img-responsive popup__pic")
            img(src="../../img/nat-9.jpg", alt="popup picture", class="img-responsive popup__pic")
        article.popup__content--right
            h2.heading-animated start booking now
            h3.popup__heading IMPORTANT – PLEASE READ THESE TERMS BEFORE BOOKING
            p.popup__privacy Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, animi perferendis consectetur explicabo laborum blanditiis laudantium quia, molestias quam eligendi voluptatibus repellat voluptate fuga error omnis qui amet enim architecto tenetur! Eaque rem, magni numquam pariatur sapiente beatae quasi expedita hic molestiae aperiam, odit mollitia? Ipsa nostrum, cum voluptates sunt laboriosam nisi rerum eveniet quod id repellendus voluptatem amet ducimus enim quis at soluta doloribus molestias. Odit eveniet, nihil doloremque molestiae officiis tempora reprehenderit vitae distinctio quas sapiente totam nisi!
            .popup__wrapper--link: a(href="#tours" class="popup__btn btn btn__animated") book now
