footer.footer
    figure.footer__logo
        picture
            source(srcset="../../img/logo-green-small-1x.png 1x, ../../img/logo-green-small-2x.png 2x", media="(max-width: 600px)")
            img(srcset="../../img/logo-green-1x.png 1x, ../../img/logo-green-2x.png 2x", alt="logo" class="img-responsive footer__img--pic", src="../../img/logo-green-1x.png")
    article.footer__content
        ul.footer__nav
            li.footer__nav--item: a.footer__link.footer__nav--item-link(href="#") company
            li.footer__nav--item: a.footer__link.footer__nav--item-link(href="#") contact us
            li.footer__nav--item: a.footer__link.footer__nav--item-link(href="#") careers
            li.footer__nav--item: a.footer__link.footer__nav--item-link(href="#") privacy policy
            li.footer__nav--item: a.footer__link.footer__nav--item-link(href="#") terms
        article.footer__author Build my #[a.footer__link MANDO] for his freelancing IN #[a.footer__link WEB DEVELOPMENT]. Copyright &copy; by #[a.footer__link MANDO]. You are 100% allowed to use this webpage for both personal and commercial use, bot NOT to claim it as your own design. A credit to the original author, Harry Le, is of course highly appreciated!