header.header
    figure.header__logo
        img(class="img-responsive header__logo--img", src="../../img/logo-white.png", alt="logo")
    article.header__content
        div.wrapper
            h1.header__title outdoors
            p.header__meaning is where life happens
        a(href="#" class="btn header__btn btn__animated") discover our tours