nav.nav
    input(type="checkbox", name="toggle-nav" id="toggle-nav" class="nav__checkbox")
    label(for="toggle-nav" class="nav__toggler")
        span.nav__toggler--icon
    div.nav__background &nbsp;
    section.nav__wrapper
        ul.nav__items
            li.nav__list: a.nav__link(href="#") about natours
            li.nav__list: a.nav__link(href="#") your benefits
            li.nav__list: a.nav__link(href="#") popular tours
            li.nav__list: a.nav__link(href="#") stories
            li.nav__list: a.nav__link(href="#") book now