$mob: 600px;
$tab: 900px;
$lap: 1200px;
$desktop: 1500px;

@mixin responsive($size) {
	@if $size == mob {
		@media only screen and (max-width: #{$mob}) {
			@content;
		}
	}

	@if $size == tab {
		@media only screen and (max-width: #{$tab}) {
			@content;
		}
	}

	@if $size == lap {
		@media only screen and (max-width: #{$lap}) {
			@content;
		}
	}

	@if $size == desktop {
		@media only screen and (max-width: #{$desktop}) {
			@content;
		}
	}
}

@mixin imgRes {
	@media only screen and (min-resolution: 192dpi) and (min-width: #{$tab}),
            only screen and (-webkit-mini-device-pixel-ratio: 2) and (min-width: #{$tab}) {
		@content;
	}
}
