$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-sec-light: #ffb900;
$color-sec-dark: #ff7730;
$color-3rd-light: #2998ff;
$color-3rd-dark: #5643fa;
$color-grey-100: #f7f7f7;
$color-grey-200: #eee;
$color-grey-500: #777;
$color-grey-600: #999;
$color-grey-700: #333;
$whiteColor: #fff;
$blackColor: #000;
$shadow-1: 0 10px 20px rgba(0, 0, 0, 0.2);
$padding-1: 10rem;
$padding-2: 2rem;
$padding-3: 3rem;
$margin-1: 2rem;
$margin-2: 4rem;
$margin-3: 6rem;
